/**
* Common site design elements
*/
@import url(//fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,400italic,700italic);

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    padding-top: 50px; /* Padding at top of screen for fixed navbar as recommended in bootstrap docs */
}

.reading-width {
    max-width: 50em;
}

.navbar .avatar {
    height: 18px;
}

@media (max-width: 979px) {
    body {
        padding-top: 50px; /* Padding at top of screen for fixed nav bar as recommened in bootstrap docs */
    }

    .navbar-fixed-top {
        margin-bottom: 0;
    }
}

/* 3-column layout from http://stackoverflow.com/questions/9269312/three-column-fluid-layout-with-twitter-bootstrap-clearfixes-messing-things-up */
.container-fluid > .sidebar {
    position: relative;
    top: 0;
    left:auto;
    width: 220px;
}

@media (min-width: 979px) {
    .fixed-fixed {
        margin: 0 300px 0 270px;
        overflow: hidden;
    }

    .sidebar.left {
        float: left;
    }

    .sidebar.right {
        float: right;
        width: 250px;
    }
}

/* Site search results */
.site-search {
    position: relative;
    padding: 0;
}

    .site-search .search-results {
        background-color: white;
        box-shadow: 0 0 1em rgba(black, .4);
        left: 1px;
        list-style: none;
        margin: 0;
        padding: 0;
        position: absolute;
        right: 1px;
        top: 100%;
        z-index: 99;
    }

    .site-search .group-title {
        background-color: #666;
        color: white;
        font-size: 1em;
        margin: 0;
        padding: 0 1em;
        text-shadow: none;
        text-transform: uppercase;
    }

    .site-search .search-result {
        border-top: 1px solid rgba(black, .2);
        display: block;
        line-height: 1.3;
        margin: 0;
        padding: 0;
    }
        .site-search .search-result .muted {
            font-weight: normal;
            color: #999;
        }

        .site-search .search-result > a {
            color: #333;
            display: block;
            padding: .75em 1em;
            text-decoration: none;
            text-shadow: none;
        }
            .site-search .search-result > a:hover,
            .site-search .search-result > a:focus {
                background-color: #AAA;
            }

            .site-search .search-result > a:active {
                background-color: #CCC;
            }

        .site-search .search-result:first-of-type {
            border-top: none;
        }

    .site-search .more-link {
        text-align: center;
    }


/* Misc */
.avatar {
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
}

.avatar.flexible {
    height: auto;
    padding-top: 100%;
    width: 100%;
}

.badge.badge-info {
    line-height: .8;
    background-color: #43B041;
    border-radius: 5px;
    vertical-align: 6%;
}

.well {
    margin-top: 18px;
}

.markdown > :first-child {
    margin-top: 0;
}

footer.site {
    text-align: center;
    margin-top: 20px;
    padding: 1em;
    border-top: 1px dashed #aaa;
}
