/* Tables */
.content-markdown table {
    display: block;
    width: 100%;
    overflow: auto;
}

.content-markdown table th {
    font-weight: bold
}

.content-markdown table th, .content-markdown table td {
    padding: 6px 13px;
    border: 1px solid #ddd
}

.content-markdown table tr {
    border-top: 1px solid #ccc
}

.content-markdown table tr:nth-child(2n) {
    background-color: #f8f8f8;
    background-color: rgba(0, 0, 0, 0.05);
}

/* Images */
.content-markdown img {
    max-width: 100%;
}

.content-markdown img.pull-right {
    margin: 0 0 1em 1em;
}
