.jumbotron {
    background: url(/img/cover.jpg) no-repeat center;
    background-size: cover;
    border-radius: 0;
    min-height: 300px;
    color: white;
}

.jumbotron .caption {
    background-color: rgba(0, 0, 0, 0.65);
    border-radius: 3px;
    width: auto;
    max-width: 60%;
    display: inline-block;
    padding: 25px;
    margin-left: 25px;
}

/*
.jumbotron h1 {
    margin: 0;
}
*/

.jumbotron .logo {
    float: left;
    height: 10em;
    margin-right: 1em;
}

.jumbotron p {
    margin: 10px 0 0;
}

.jumbotron footer {

}

@media (min-width: 1400px) {
    .jumbotron {
        min-height: 400px;
    }
}

@media (max-width: 768px) {
    .jumbotron {
        margin-right: -20px;
        margin-left: -20px;
    }

    .jumbotron .caption {
        max-width: none;
    }

    .jumbotron h1 {
        font-size: 40px;
    }
}

@media (max-width: 480px) {
    .jumbotron {
        padding: 1em;
    }
}

/* Content directory sidebar */
.tags {
    margin-top: 10px;
}

/* Project updates */
main .page-header, main .page-header h2 {
    margin-top: 0;
}

.panel-body h3:first-child {
    margin-top: 0;
}

.update-body {
    word-break: break-word;
}

.update-body p:last-child {
    margin-bottom: 0;
}

.panel-footer .text-muted a {
    color: #777;
}

/* Activity Stream */
.site-stream {
    margin-left: 0 !important;
}

.media-right .avatar {
    margin: 0;
}

/* Meetups list */
.event h4 {
    font-size: 1em;
    margin-bottom: 0;
}

.meetup-current .event {
    border-bottom: none;
    margin-bottom: 0;
}

.checkin .project-picker {
}

.checkins h5 {
    margin: 20px 0 5px;
}

.checkins li a {
    margin: 0;
    padding: 0;
}

.buzz-headline {
    font-weight: bold;
}

.buzz-summary {
    margin: 0 0 1em;
}