.hero-unit {
    background: url(/img/cover.jpg) no-repeat center;
    background-size: cover;
    border-radius: 0;
    min-height: 300px;
    color: white;
}

.hero-unit .caption {
    background-color: rgba(0, 0, 0, 0.65);
    border-radius: 3px;
    width: auto;
    max-width: 60%;
    display: inline-block;
    padding: 25px;
}

/*
.hero-unit h1 {
    margin: 0;
}
*/

.hero-unit .logo {
    float: left;
    height: 10em;
    margin-right: 1em;
}

.hero-unit p {
    margin: 10px 0 0;
}

.hero-unit footer {

}

@media (min-width: 1400px) {
    .hero-unit {
        min-height: 400px;
    }
}

@media (max-width: 768px) {
    .hero-unit {
        margin-right: -20px;
        margin-left: -20px;
    }

    .hero-unit .caption {
        max-width: none;
    }

    .hero-unit h1 {
        font-size: 40px;
    }
}

@media (max-width: 480px) {
    .hero-unit {
        padding: 1em;
    }
}

/* Content directory sidebar */
.tags {
    margin-top: 10px;
}

/* Project updates */
.content h2:first-child {
    margin-top: 0;
}

.project-update h3 {
    margin-bottom: 0;
}

.update-body {
    word-break: break-word;
}

.update-body p:last-child {
    margin-bottom: 0;
}

/* Activity Stream */
.site-stream {
    margin-left: 0 !important;
}

/* Meetups list */
.event h4 {
    font-size: 1em;
    margin-bottom: 0;
}

.meetup-current .event {
    border-bottom: none;
    margin-bottom: 0;
}

.checkin .project-picker {
}

.checkins h5 {
    margin: 20px 0 5px;
}

.checkins li a {
    margin: 0;
    padding: 0;
}