.people-list.inline li,
.people-list .listed-person {
    margin-bottom: .25em;
    padding: 0;
    text-align: center;
    vertical-align: middle;
    width: 70px;
}

.people-list .add-person {
}

.thumbnail .avatar {
    margin: 0;
}